* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  margin: auto;
  background-color: antiquewhite;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: lightslategray;
}

#app {
  background-color: white;
  position: relative;
  top: 3rem;
  padding: 2rem;
  margin: auto;
  max-width: 960px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#app-nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  color: black;
  font-size: 1rem;
  padding: 1rem;
  width: 100px;
  background-color: rgb(251, 132, 192);
}

.nav:hover {
  transition: 0.3s ease-in-out;
  background-color: paleturquoise;
  cursor: pointer;
}

#app-content {
  margin-block: 2rem;
}

.cart-card {
  margin-block: 2rem;
}

.order-card {
  margin-block: 2rem;
}

.product-card-container {
  border: 1px solid black;
}

.product-card {
  margin-block: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-to-cart-button {
  height: 40px;
  width: 100px;
  background-color: rgb(251, 132, 192);
}

.add-to-cart-button:hover {
  transition: 0.3s ease-in-out;
  background-color: paleturquoise;
  cursor: pointer;
}
